<% include ../partials/admin/header.ejs %>
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-md-7">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-md-5 pt-4">
            <div>
                <canvas id="myChart1" class="mx-auto" height="300px" width="300px"></canvas>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <!-- <div class="col-lg-3 mt-3">
            <a href="./student_list.html">
                <div class="box1 bg-color-dgr">
                    Student Management
                </div>
            </a>
        </div> -->
        <div class="col-lg-6 mt-3">
            <a href="/courses">
                <div class="box1 bg-color-pr">
                    Course Management
                </div>
            </a>
        </div>
        <div class="col-lg-6 mt-3">
            <a href="/users">
                <div class="box1 bg-color-scs">
                    User Management
                </div>
            </a>
        </div>
        <!-- <div class="col-lg-3 mt-3">
            <a href="./enroll.html">
                <div class="box1 bg-color-dgr">
                    Enrollment Management       
                </div>
            </a>
        </div> -->
    </div>

</div>

<% include ../partials/admin/footer.ejs%>

