<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center " style="height:100vh;">
        <div class="card" style="width:15rem;background-color:rgba(232, 142, 142, 0.848)">
            <div class="card-body text-cemter">
                <img src="" alt="">
                <h3 class="text-danger" style="font-weight:900">Access Denied</h3>
                <button class="btn btn-danger d-block mx-auto mt-3" onclick="window.history.back()">Go Back</button>
            </div>
        </div>

    </div>
</body>
</html>