<% include ./partials/header.ejs%>
    <section id="courses" class="d-flex align-items-center justify-content-center">
        <h1 class="text-white">COURSES</h1>

    </section>
    <section>
        <div class="container-xl mb-5">
            <div class="row">
                <%if (data.length){ for (var i=0; i < data.length; i++){ %>
                <div class="col-md-4 col-sm-6 mt-5 ">
                    <div class="card">
                        <img src="/images/python-1588143191.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                               <%= data[i].courseName%>
                            </h5>
                            <p class="card-text"><%= data[i].descriptions %></p>
                            <a href="/enrolls/student/enroll/add/<%= data[i].courseId%>" 
                                class="btn bg-color-scs text-white d-block">Register</a>

                        </div>
                    </div>
                </div>
                <% } } else { %>
                    <p class="text-center">currently no course avilable</p>
                <%}%>
               
               
            </div>
            
        </div>
    </section>
   
 

    <% include ./partials/footer.ejs%>