<% include ./partials/header.ejs%>


  <section>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./images/5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./images/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./images/5.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section>
    <div class="container-xl pt-5">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <div class="abc-wrapper">
            <h3 class="abc-heading">ABC Center</h3>
            <p>ABC Center is an IT Finishing School located near Infopark - Cochin, focused on
              providing advanced level software training to Students and by helping them to get placed in
              IT companies. We are a team of IT professionals who have experience in IT sector for more
              than 15 plus years. Our fresher's career foster programs are Big Data Training, Data Science
              Training, Data Analytics Training, Python Training, Software Testing Training & Selenium
              Training in Cochin, Kerala are designed in such a way to match with the current industry
              requirements. Our Vision is to provide 100% placements to students those who enroll with us
              for our specialized courses.</p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./images/qq.jpg" alt="" class="img-fluid-s">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-xl">
      <h5 class="main-head">Our Courses</h5>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img src="./images/python-1588143191.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">
                Python Django - Angular- Full Stack Web Development Expert
              </h5>
              <p class="card-text">Core Python, Basics of Programming, Unix Commands, Advanced Python,
                Django Framework, REST
                API, Git, Angul...</p>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img src="./images/python-1588143191.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">
                Python Django - Angular- Full Stack Web Development Expert
              </h5>
              <p class="card-text">Core Python, Basics of Programming, Unix Commands, Advanced Python,
                Django Framework, REST
                API, Git, Angul...</p>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img src="./images/python-1588143191.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">
                Python Django - Angular- Full Stack Web Development Expert
              </h5>
              <p class="card-text">Core Python, Basics of Programming, Unix Commands, Advanced Python,
                Django Framework, REST
                API, Git, Angul...</p>

            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <a href="/courses" class="btn bg-color-pr text-white mt-5 mb-5 btn-lg">View Courses</a>
      </div>

    </div>
  </section>


  <% include ./partials/footer.ejs%>