<% include ../../partials/staff/header.ejs %>
<div class="container">
    <div class="card mt-5 mx-auto w-lg-50">
        <div class="card-body text-center">
            <form action="/students/delete/<%= id[0]%>" method="post" class="form">
                <p>Are you sure you want to delete "<%= data[0].name%>" ?</p>
                <button type="submit" class="btn bg-color-dgr text-white">Confirm</button>
            </form>

            <button class="btn bg-color-scs text-white ms-2" style="position: absolute;top: 53px;right: 215px;"
                onclick="window.history.back()">Back</button>

        </div>

    </div>

</div>

<% include ../../partials/staff/footer.ejs %>